# Part 1: get the attributes

In [1]:
import pandas as pd
import numpy as np

In [2]:
# use the second file
data1_1 = pd.read_csv("C:/Users/lenovo/Desktop/一起走下去吧/uzh · 学习/项目/20220808-FULL-1_1.csv", sep=';')
# display the data
data1_1

C:\Users\lenovo\anaconda3.1\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,36,86,89) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,fileGenerationDate,Entity_LogicalId,Entity_EU_ReferenceNumber,Entity_UnitedNationId,Entity_DesignationDate,Entity_DesignationDetails,Entity_Remark,Entity_SubjectType,Entity_SubjectType_ClassificationCode,Entity_Regulation_Type,...,Citizenship_LogicalId,Citizenship_RegulationLanguage,Citizenship_Remark,Citizenship_Regulation_Type,Citizenship_Regulation_OrganisationType,Citizenship_Regulation_PublicationDate,Citizenship_Regulation_EntryIntoForceDate,Citizenship_Regulation_NumberTitle,Citizenship_Regulation_Programme,Citizenship_Regulation_PublicationUrl
0,08/08/2022,13,EU.27.28,NaN,NaN,NaN,(UNSC RESOLUTION 1483),P,person,regulation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,08/08/2022,13,EU.27.28,NaN,NaN,NaN,(UNSC RESOLUTION 1483),P,person,regulation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08/08/2022,13,EU.27.28,NaN,NaN,NaN,(UNSC RESOLUTION 1483),P,person,regulation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,08/08/2022,13,EU.27.28,NaN,NaN,NaN,(UNSC RESOLUTION 1483),P,person,regulation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,08/08/2022,13,EU.27.28,NaN,NaN,NaN,(UNSC RESOLUTION 1483),P,person,regulation,...,1.0,EN,NaN,regulation,commission,2003-07-08,2003-07-07,1210/2003 (OJ L169),IRQ,http://eur-lex.europa.eu/LexUriServ/LexUriServ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21790,08/08/2022,143389,EU.8692.54,NaN,2022-07-21,NaN,(Date of UN designation: 2022-07-21),P,person,amendment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21791,08/08/2022,143389,EU.8692.54,NaN,2022-07-21,NaN,(Date of UN designation: 2022-07-21),P,person,amendment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21792,08/08/2022,143389,EU.8692.54,NaN,2022-07-21,NaN,(Date of UN designation: 2022-07-21),P,person,amendment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21793,08/08/2022,143389,EU.8692.54,NaN,2022-07-21,NaN,(Date of UN designation: 2022-07-21),P,person,amendment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21794,08/08/2022,143389,EU.8692.54,NaN,2022-07-21,NaN,(Date of UN designation: 2022-07-21),P,person,amendment,...,143391.0,EN,NaN,amendment,council,2022-07-21,2022-07-21,2022/1270 (OJ L193),UKR,https://eur-lex.europa.eu/legal-content/EN/TXT...

In [3]:
# get the whole name attribute
whole_name = data1_1['NameAlias_WholeName']

In [4]:
# get the birth date attribute
birth_date = data1_1['BirthDate_BirthDate']

In [5]:
# get the city attribute
city = data1_1['BirthDate_City']

In [6]:
# get country discription
discription = data1_1['BirthDate_CountryDescription']

In [7]:
whole_name

0             Saddam Hussein Al-Tikriti
1                               Abu Ali
2                              Abou Ali
3                                   NaN
4                                   NaN
                      ...
21790       Евгений Витальевич БАЛИЦКИЙ
21791    Yevgeniy Vitalievich BALYTSKIY
21792    Jevgenij Vitaljevitj BALITSKIJ
21793                               NaN
21794                               NaN
Name: NameAlias_WholeName, Length: 21795, dtype: object

# Part 2: match the attributes using the character based model

In [8]:
# build a function to calculate Levenshtein minimal-editing distance
def minDistance(s1,s2):
    # get the length of the strings
    m = len(s1)
    n = len(s2)
    # if some of them are empty, return the longer length of them
    if (m==0|n==0):
        return max(m,n)
    # create an empty matrix to store the calculation result
    A = np.zeros((m+1,n+1))
    # initialize the first row and column
    for i in range(0,m+1):
        A[i][0]=i
    for j in range(1,n+1):
        A[0][j]=j
    # calculate the distance column by column
    for j in range(1,n+1):
        for i in range(1,m+1):
            if (s1[i-1]==s2[j-1]):
                d=0
            else: d=1
            A[i][j]=min(A[i-1][j]+1,A[i][j-1]+1,A[i-1][j-1]+d)
    # return the final result
    return A[m][n]

In [9]:
# just use these two as example and test
a = whole_name[21788]
b = whole_name[21790]
print(a)
print(b)
minDistance(a,b)

Євген Вiталiйович БАЛИЦЬКИЙ
Евгений Витальевич БАЛИЦКИЙ

8.0

In [10]:
# one problem is that the 'NaN' values can not be calculated
# print(whole_name[3])
# minDistance(whole_name[3],whole_name[4])

In [11]:
# so I replaced them with empty strings
whole_name.fillna('', inplace=True)
whole_name

0             Saddam Hussein Al-Tikriti
1                               Abu Ali
2                              Abou Ali
3
4
                      ...
21790       Евгений Витальевич БАЛИЦКИЙ
21791    Yevgeniy Vitalievich BALYTSKIY
21792    Jevgenij Vitaljevitj BALITSKIJ
21793
21794
Name: NameAlias_WholeName, Length: 21795, dtype: object

In [12]:
# calculate all the distances in whole_name
#length_name = len(whole_name)
#Name = np.zeros((length_name-3,length_name))
#for i in range(0,length_name):
#    for j in range(0,length_name):
#        Name[i][j]=minDistance(whole_name[i],whole_name[j])

In [13]:
result=data1_1['Entity_LogicalId']

In [14]:
result.fillna('', inplace=False)

0            13
1            13
2            13
3            13
4            13
          ...
21790    143389
21791    143389
21792    143389
21793    143389
21794    143389
Name: Entity_LogicalId, Length: 21795, dtype: int64

In [15]:
# just use the whole name to calculate
name_dict = {'entity':result,
            'attribute':whole_name}
name = pd.DataFrame(name_dict)
name

       entity                       attribute
0          13       Saddam Hussein Al-Tikriti
1          13                         Abu Ali
2          13                        Abou Ali
3          13
4          13
...       ...                             ...
21790  143389     Евгений Витальевич БАЛИЦКИЙ
21791  143389  Yevgeniy Vitalievich BALYTSKIY
21792  143389  Jevgenij Vitaljevitj BALITSKIJ
21793  143389
21794  143389

[21795 rows x 2 columns]

In [16]:
# randomise the name data
index = [i for i in range(0,len(name))]
np.random.shuffle(index)

In [17]:
name['random_index']=index
name

       entity                       attribute  random_index
0          13       Saddam Hussein Al-Tikriti           205
1          13                         Abu Ali          5032
2          13                        Abou Ali          8913
3          13                                         15427
4          13                                          5664
...       ...                             ...           ...
21790  143389     Евгений Витальевич БАЛИЦКИЙ         21285
21791  143389  Yevgeniy Vitalievich BALYTSKIY         12462
21792  143389  Jevgenij Vitaljevitj BALITSKIJ          4250
21793  143389                                         19640
21794  143389                                         11622

[21795 rows x 3 columns]

In [18]:
random_name = name.sort_values(by="random_index")
random_name

       entity                                          attribute  random_index
20546  140002                                               AQ-S             0
6839     6953                                                                1
8392     7339                          Oleg Grigorievich KOZYURA             2
5515     6459                                      Ihab MAKHLOUF             3
14505  128279                       Ajubchan Vachajevitj KATAJEV             4
...       ...                                                ...           ...
10072    7567                      Andrei Valeryevich KARTAPOLOV         21790
8674     7386                                       Hashem Aqqad         21791
13806  126350                        Ihar Pjatrovitj SERHIAJENKA         21792
592       219  Generalkommando der Volksfront für die Befreiu...         21793
7943     7219                                      Iyad ag Ghali         21794

[21795 rows x 3 columns]

In [19]:
new_name = random_name.iloc[0:2100]
new_name

       entity                                 attribute  random_index
20546  140002                                      AQ-S             0
6839     6953                                                       1
8392     7339                 Oleg Grigorievich KOZYURA             2
5515     6459                             Ihab MAKHLOUF             3
14505  128279              Ajubchan Vachajevitj KATAJEV             4
...       ...                                       ...           ...
8347     7329                           German PROKOPIV          2095
12377  117775                                                    2096
77         60  Saif-al-Din Fulayyih Hassan Taha Al-Rawi          2097
15131  130124              Alexander Evgenevich SHATROV          2098
10717  107691                                                    2099

[2100 rows x 3 columns]

In [20]:
del new_name['random_index']

In [21]:
new_name

       entity                                 attribute
20546  140002                                      AQ-S
6839     6953
8392     7339                 Oleg Grigorievich KOZYURA
5515     6459                             Ihab MAKHLOUF
14505  128279              Ajubchan Vachajevitj KATAJEV
...       ...                                       ...
8347     7329                           German PROKOPIV
12377  117775
77         60  Saif-al-Din Fulayyih Hassan Taha Al-Rawi
15131  130124              Alexander Evgenevich SHATROV
10717  107691

[2100 rows x 2 columns]

In [22]:
# calculate all the distances in new_name
length_name = len(new_name)
Name = np.zeros((length_name,length_name))
for i in range(0,length_name):
    for j in range(i+1,length_name):
        Name[i][j]=minDistance(new_name['attribute'].iloc[i],new_name['attribute'].iloc[j])

In [23]:
Name

array([[ 0.,  4., 25., ..., 38., 26.,  4.],
       [ 0.,  0., 25., ..., 40., 28.,  0.],
       [ 0.,  0.,  0., ..., 35., 19., 25.],
       ...,
       [ 0.,  0.,  0., ...,  0., 35., 40.],
       [ 0.,  0.,  0., ...,  0.,  0., 28.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [24]:
result = np.zeros((length_name,length_name))
entity = new_name['entity']
for i in range(0,length_name):
    for j in range(i+1,length_name):
        if entity.iloc[i]==entity.iloc[j]:
            result[i][j]=0
        else: result[i][j]=1

In [25]:
result

array([[0., 1., 1., ..., 1., 1., 1.],
       [0., 0., 1., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.],
       ...,
       [0., 0., 0., ..., 0., 1., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [26]:
hist_data = []
for i in range(0,length_name):
    for j in range(i+1,length_name):
        if result[i][j]==0:
            hist_data.append(Name[i][j])
hist_data

[21.0,
 20.0,
 7.0,
 28.0,
 4.0,
 13.0,
 15.0,
 11.0,
 13.0,
 19.0,
 14.0,
 13.0,
 16.0,
 10.0,
 11.0,
 14.0,
 23.0,
 30.0,
 147.0,
 73.0,
 78.0,
 167.0,
 53.0,
 29.0,
 12.0,
 12.0,
 12.0,
 12.0,
 11.0,
 3.0,
 12.0,
 12.0,
 15.0,
 2.0,
 29.0,
 27.0,
 24.0,
 4.0,
 33.0,
 29.0,
 15.0,
 12.0,
 12.0,
 24.0,
 15.0,
 17.0,
 16.0,
 3.0,
 27.0,
 34.0,
 42.0,
 21.0,
 21.0,
 37.0,
 12.0,
 13.0,
 11.0,
 13.0,
 25.0,
 21.0,
 0.0,
 20.0,
 14.0,
 9.0,
 13.0,
 10.0,
 9.0,
 11.0,
 8.0,
 14.0,
 34.0,
 12.0,
 12.0,
 32.0,
 3.0,
 46.0,
 54.0,
 51.0,
 57.0,
 45.0,
 10.0,
 15.0,
 13.0,
 13.0,
 14.0,
 7.0,
 23.0,
 16.0,
 18.0,
 55.0,
 2.0,
 3.0,
 3.0,
 2.0,
 21.0,
 47.0,
 21.0,
 48.0,
 24.0,
 33.0,
 16.0,
 17.0,
 16.0,
 16.0,
 24.0,
 27.0,
 24.0,
 28.0,
 28.0,
 29.0,
 27.0,
 28.0,
 29.0,
 15.0,
 8.0,
 0.0,
 5.0,
 24.0,
 60.0,
 59.0,
 70.0,
 14.0,
 27.0,
 26.0,
 26.0,
 30.0,
 5.0,
 4.0,
 35.0,
 23.0,
 9.0,
 22.0,
 27.0,
 19.0,
 32.0,
 18.0,
 18.0,
 46.0,
 7.0,
 5.0,
 28.0,
 33.0,
 7.0,
 2.0,
 9.0,
 16.0,
 22.0,
 17.0,
 36.0,
 0.0,
 0.0,
 0.0,
 16.0,
 12.0,
 78.0,
 73.0,
 28.0,
 10.0,
 7.0,
 22.0,
 0.0,
 5.0,
 27.0,
 6.0,
 0.0,
 21.0,
 29.0,
 26.0,
 31.0,
 2.0,
 12.0,
 27.0,
 0.0,
 0.0,
 0.0,
 27.0,
 0.0,
 3.0,
 17.0,
 2.0,
 12.0,
 15.0,
 12.0,
 14.0,
 2.0,
 32.0,
 5.0,
 28.0,
 30.0,
 0.0,
 6.0,
 4.0,
 6.0,
 0.0,
 18.0,
 0.0,
 0.0,
 8.0,
 18.0,
 9.0,
 9.0,
 5.0,
 21.0,
 27.0,
 48.0,
 46.0,
 70.0,
 42.0,
 7.0,
 18.0,
 30.0,
 31.0,
 30.0,
 16.0,
 7.0,
 9.0,
 11.0,
 31.0,
 27.0,
 9.0,
 7.0,
 20.0,
 4.0,
 6.0,
 9.0,
 0.0,
 27.0,
 13.0,
 5.0,
 10.0,
 30.0,
 4.0,
 30.0,
 33.0,
 28.0,
 11.0,
 21.0,
 51.0,
 51.0,
 9.0,
 4.0,
 28.0,
 29.0,
 31.0,
 43.0,
 41.0,
 39.0,
 31.0,
 14.0,
 9.0,
 5.0,
 29.0,
 14.0,
 32.0,
 13.0,
 18.0,
 0.0,
 14.0,
 21.0,
 21.0,
 7.0,
 7.0,
 1.0,
 6.0,
 8.0,
 5.0,
 5.0,
 5.0,
 4.0,
 4.0,
 32.0,
 7.0,
 7.0,
 0.0,
 25.0,
 28.0,
 28.0,
 25.0,
 28.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 13.0,
 0.0,
 0.0,
 0.0,
 100.0,
 89.0,
 56.0,
 76.0,
 27.0,
 35.0,
 26.0,
 36.0,
 28.0,
 28.0,
 13.0,
 12.0,
 0.0,
 47.0,
 72.0,
 38.0,
 22.0,
 19.0,
 52.0,
 17.0,
 48.0,
 18.0,
 4.0,
 11.0,
 36.0,
 37.0,
 24.0,
 0.0,
 32.0,
 47.0,
 54.0,
 27.0,
 29.0,
 27.0,
 27.0,
 27.0,
 18.0,
 26.0,
 19.0,
 29.0,
 25.0,
 20.0,
 31.0,
 19.0,
 20.0,
 45.0,
 19.0,
 30.0,
 33.0,
 12.0,
 17.0,
 17.0,
 20.0,
 16.0,
 18.0,
 16.0,
 13.0,
 19.0,
 28.0,
 23.0,
 27.0,
 26.0,
 55.0,
 22.0,
 45.0,
 37.0,
 12.0,
 17.0,
 14.0,
 14.0,
 12.0,
 46.0,
 32.0,
 29.0,
 31.0,
 18.0,
 0.0,
 0.0,
 26.0,
 27.0,
 25.0,
 33.0,
 25.0,
 25.0,
 42.0,
 4.0,
 40.0,
 24.0,
 21.0,
 18.0,
 39.0,
 20.0,
 38.0,
 38.0,
 34.0,
 38.0,
 34.0,
 11.0,
 14.0,
 13.0,
 15.0,
 31.0,
 18.0,
 0.0,
 15.0,
 0.0,
 14.0,
 21.0,
 20.0,
 28.0,
 0.0,
 0.0,
 23.0,
 10.0,
 2.0,
 10.0,
 10.0,
 3.0,
 35.0,
 26.0,
 29.0,
 20.0,
 34.0,
 9.0,
 5.0,
 7.0,
 18.0,
 69.0,
 43.0,
 32.0,
 18.0,
 10.0,
 40.0,
 12.0,
 11.0,
 3.0,
 1.0,
 10.0,
 72.0,
 16.0,
 1.0,
 16.0,
 3.0,
 2.0,
 24.0,
 70.0,
 25.0,
 1.0,
 26.0,
 17.0,
 27.0,
 36.0,
 6.0,
 6.0,
 9.0,
 6.0,
 15.0,
 9.0,
 15.0,
 21.0,
 115.0,
 57.0,
 102.0,
 0.0,
 12.0,
 20.0,
 11.0,
 29.0,
 1.0,
 2.0,
 0.0,
 14.0,
 13.0,
 13.0,
 13.0,
 5.0,
 36.0,
 8.0,
 25.0,
 24.0,
 61.0,
 0.0,
 13.0,
 27.0,
 47.0,
 34.0,
 28.0,
 29.0,
 2.0,
 10.0,
 16.0,
 15.0,
 15.0,
 9.0,
 25.0,
 20.0,
 24.0,
 8.0,
 50.0,
 17.0,
 10.0,
 31.0,
 25.0,
 15.0,
 23.0,
 22.0,
 48.0,
 36.0,
 32.0,
 13.0,
 13.0,
 18.0,
 26.0,
 16.0,
 22.0,
 23.0,
 13.0,
 0.0,
 42.0,
 29.0,
 34.0,
 10.0,
 1.0,
 1.0,
 15.0,
 7.0,
 24.0,
 20.0,
 6.0,
 18.0,
 36.0,
 64.0,
 63.0,
 13.0,
 26.0,
 54.0,
 22.0,
 11.0,
 17.0,
 17.0,
 24.0,
 30.0,
 29.0,
 0.0,
 49.0,
 49.0,
 50.0,
 36.0,
 24.0,
 28.0,
 27.0,
 4.0,
 3.0,
 30.0,
 13.0,
 46.0,
 37.0,
 34.0,
 32.0,
 28.0,
 18.0,
 35.0,
 37.0,
 0.0,
 32.0,
 7.0,
 39.0,
 0.0,
 0.0,
 60.0,
 27.0,
 13.0,
 23.0,
 12.0,
 32.0,
 30.0,
 13.0,
 23.0,
 5.0,
 7.0,
 130.0,
 131.0,
 170.0,
 127.0,
 9.0,
 11.0,
 2.0,
 14.0,
 5.0,
 96.0,
 32.0,
 31.0,
 26.0,
 1.0,
 11.0,
 16.0,
 8.0,
 9.0,
 6.0,
 15.0,
 11.0,
 10.0,
 0.0,
 0.0,
 0.0,
 0.0,
 28.0,
 26.0,
 31.0,
 26.0,
 24.0,
 0.0,
 16.0,
 3.0,
 14.0,
 14.0,
 3.0,
 3.0,
 4.0,
 5.0,
 24.0,
 7.0,
 32.0,
 15.0,
 41.0,
 162.0,
 65.0,
 37.0,
 46.0,
 0.0,
 0.0,
 13.0,
 13.0,
 7.0,
 10.0,
 23.0,
 14.0,
 24.0,
 20.0,
 1.0,
 25.0,
 7.0,
 3.0,
 6.0,
 3.0,
 1.0,
 4.0,
 4.0,
 5.0,
 4.0,
 3.0,
 23.0,
 33.0,
 6.0,
 5.0,
 2.0,
 3.0,
 6.0,
 3.0,
 6.0,
 5.0,
 1.0,
 13.0,
 1.0,
 16.0,
 31.0,
 35.0,
 26.0,
 0.0,
 22.0,
 22.0,
 16.0,
 15.0,
 15.0,
 22.0,
 9.0,
 16.0,
 29.0,
 13.0,
 16.0,
 73.0,
 17.0,
 0.0,
 24.0,
 15.0,
 5.0,
 2.0,
 4.0,
 1.0,
 23.0,
 0.0,
 46.0,
 5.0,
 17.0,
 10.0,
 30.0,
 49.0,
 38.0,
 6.0,
 1.0,
 24.0,
 9.0,
 27.0,
 27.0,
 29.0,
 16.0,
 27.0,
 0.0,
 29.0,
 28.0,
 27.0,
 28.0,
 29.0,
 25.0,
 5.0,
 7.0,
 4.0,
 4.0,
 4.0,
 3.0,
 3.0,
 19.0,
 20.0,
 26.0,
 27.0,
 15.0,
 5.0,
 11.0,
 27.0,
 27.0,
 0.0,
 0.0,
 27.0,
 0.0,
 0.0,
 0.0,
 0.0,
 11.0,
 24.0,
 31.0,
 32.0,
 52.0,
 14.0,
 29.0,
 16.0,
 9.0,
 11.0,
 29.0,
 21.0,
 0.0,
 17.0,
 18.0,
 3.0,
 0.0,
 5.0,
 29.0,
 35.0,
 7.0,
 38.0,
 48.0,
 23.0,
 30.0,
 21.0,
 134.0,
 117.0,
 109.0,
 14.0,
 18.0,
 18.0,
 26.0,
 24.0,
 0.0,
 19.0,
 2.0,
 1.0,
 37.0,
 42.0,
 37.0,
 19.0,
 29.0,
 26.0,
 16.0,
 0.0,
 21.0,
 9.0,
 26.0,
 16.0,
 28.0,
 25.0,
 30.0,
 21.0,
 19.0,
 42.0,
 28.0,
 26.0,
 33.0,
 0.0,
 13.0,
 13.0,
 12.0,
 12.0,
 14.0,
 3.0,
 35.0,
 8.0,
 5.0,
 21.0,
 7.0,
 10.0,
 11.0,
 2.0,
 14.0,
 12.0,
 34.0,
 9.0,
 0.0,
 14.0,
 2.0,
 27.0,
 1.0,
 29.0,
 27.0,
 9.0,
 7.0,
 16.0,
 3.0,
 17.0,
 0.0,
 27.0,
 12.0,
 20.0,
 45.0,
 28.0,
 26.0,
 34.0,
 90.0,
 68.0,
 14.0,
 9.0,
 13.0,
 14.0,
 29.0,
 2.0,
 3.0,
 15.0,
 29.0,
 75.0,
 30.0,
 19.0,
 8.0,
 26.0,
 15.0,
 56.0,
 8.0,
 0.0,
 5.0,
 15.0,
 5.0,
 6.0,
 18.0,
 0.0,
 23.0,
 16.0,
 32.0,
 12.0,
 45.0,
 36.0,
 34.0,
 37.0,
 0.0,
 27.0,
 28.0,
 3.0,
 46.0,
 2.0,
 28.0,
 19.0,
 0.0,
 26.0,
 17.0,
 61.0,
 11.0,
 22.0,
 21.0,
 3.0,
 27.0,
 14.0,
 0.0,
 0.0,
 27.0,
 0.0,
 30.0,
 26.0,
 62.0,
 2.0,
 7.0,
 26.0,
 7.0,
 37.0,
 42.0,
 44.0,
 25.0,
 42.0,
 40.0,
 36.0,
 49.0,
 79.0,
 9.0,
 24.0,
 12.0,
 27.0,
 63.0,
 32.0,
 0.0,
 164.0,
 67.0,
 4.0,
 3.0,
 2.0,
 4.0,
 4.0,
 3.0,
 8.0,
 17.0,
 12.0,
 18.0,
 33.0,
 33.0,
 33.0,
 23.0,
 24.0,
 23.0,
 16.0,
 16.0,
 15.0,
 15.0,
 21.0,
 1.0,
 30.0,
 27.0,
 0.0,
 9.0,
 9.0,
 17.0,
 34.0,
 58.0,
 12.0,
 16.0,
 18.0,
 16.0,
 3.0,
 2.0,
 60.0,
 18.0,
 14.0,
 14.0,
 55.0,
 20.0,
 23.0,
 24.0,
 19.0,
 17.0,
 10.0,
 10.0,
 1.0,
 9.0,
 30.0,
 4.0,
 9.0,
 3.0,
 29.0,
 28.0,
 31.0,
 29.0,
 29.0,
 24.0,
 25.0,
 6.0,
 11.0,
 10.0,
 11.0,
 17.0,
 27.0,
 23.0,
 0.0,
 26.0,
 15.0,
 169.0,
 1.0,
 31.0,
 7.0,
 13.0,
 13.0,
 5.0,
 2.0,
 51.0,
 49.0,
 36.0,
 2.0,
 27.0,
 12.0,
 10.0,
 10.0,
 18.0,
 18.0,
 11.0,
 10.0,
 32.0,
 37.0,
 11.0,
 10.0,
 20.0,
 ...]

In [27]:
sum(hist_data) / len(hist_data)

21.33303730017762

In [28]:
max(hist_data)

170.0

In [29]:
min(hist_data)

0.0